body
	font-family: $font-family-base
	font-size: $font-size-base
	line-height: $line-height-base
	color: $text-color
	background-color: $body-bg
	min-width: 970px
	padding-top: 52px // padding for fixed navbar

// reset
ul,
ol
	list-style-type: none
	margin: 0
	padding: 0

// Header
// --------------------------------------------------
.header
	background: #f48820 url(../img/pttrn.jpg)
	overflow: hidden
	+cover
	> .container
		position: relative
		padding-top: 60px
		padding-bottom: 35px
		min-height: 520px
		&:before
			position: absolute
			bottom: 0
			right: -100px
			width: 720px
			height: 520px
			background: url(../img/person.png) no-repeat 0 0
	.h1
		margin-bottom: 20px

.intro
	position: relative
	margin-right: 170px
	font-size: 20px
	.lead
		font-family: $font-family-bi

// Footer
// --------------------------------------------------
.footer
	margin: 20px 0
	font-family: $font-family-base
	font-size: 16px
	font-weight: 300
	.h3
		margin-bottom: 15px
		font-size: 18px
		font-family: $font-family-base
		font-weight: 500
	.footer__share
		padding-top: 20px
		margin-top: 20px
		border-top: 1px solid #868686
	.footer__share-title
		display: inline-block
		margin-right: 10px
	.footer__telnum
		display: block
		font-size: 30px
		font-family: $font-family-base
		font-weight: 500

// social
.social
	ul
		font-size: 0
	li
		display: inline-block
		text-align: center
		margin: 0
		font-size: 26px
		line-height: 1
		text-transform: none
		font-family: "WebSymbolsLigaRegular"
		color: #000
		+transition(color .2s linear)
		margin-left: 10px
		&:first-child
			margin-left: 0
		a
			color: inherit
			text-decoration: none
		&._youtube
			&:hover
				color: #e6001f
		&._facebook
			&:hover
				color: #365895
		&._vk
			&:hover
				color: #457698
		&._twitter
			&:hover
				color: #00ace9

// Common blocks
// --------------------------------------------------
.section
	> .container
		padding-top: 45px
		padding-bottom: 45px
		border-bottom: 1px solid #5e5e5e
	&.request
		background: url(../img/pttrn.jpg) no-repeat
		+cover
		margin-top: -1px
		> .container
			border: none

// About
// --------------------------------------------------
.about
	.about__quote
		position: relative
		font-weight: 300
		font-style: italic
		border: 3px solid #c9c9c9
		+border-radius(10px)
		padding: 20px 18px
		&:before
			position: absolute
			top: 35px
			left: 100%
			content: ""
			+s(quote_arr)
		p
			&.last
				margin: 0
	.about__author
		padding-top: 10px
	.about__authorinfo
		+clr
		margin-bottom: 15px
	.about__authorpic
		width: 100px
		float: left
		margin-right: 20px
		img
			display: block
	.about__authormeta
		overflow: hidden
		h3
			font-family: $font-family-base
			font-size: 20px
			font-weight: 500
			margin-bottom: 0
		p
			margin-bottom: 0

// Why
.why
	position: relative
	margin-top: 50px
	padding-left: 160px
	&:before
		position: absolute
		top: 50%
		left: 20px
		margin-top: -50px
		content: ""
		+s(why)

// Skills
// --------------------------------------------------
.skills
	text-align: center
	.skills__i
		position: relative
		padding-top: 80px
		&:before
			position: absolute
			top: 0
			left: 50%
			margin-left: -40px
			content: ""
		&._1
			&:before
				+s(skill_1)
		&._2
			&:before
				+s(skill_2)
		&._3
			&:before
				+s(skill_3)
		&._4
			&:before
				+s(skill_4)
		p
			margin-bottom: 0

// Video
.video
	position: relative
	margin-top: 50px
	.video__viewport
		img
			display: block
			+border-radius(25px)
	.video__play
		+s(play)
		cursor: pointer
		position: absolute
		top: 50%
		margin-top: -41px
		left: 50%
		margin-left: -58px
		z-index: 1

// Testimonials
// --------------------------------------------------
.testimonials
	.testimonials__moar
		text-align: center

.testimonial
	margin-bottom: 70px
	p
		font-weight: 300
		strong
			font-weight: 500
	.testimonial__author
		+clr
		margin-top: 20px
		font-weight: 400
	.testimonial__authorpic
		display: inline-block
		vertical-align: middle
		width: 60px
		margin-right: 20px
		img
			width: 60px
			height: 60px
			display: block
	.testimonial__authorname
		display: inline-block
		vertical-align: middle

// Request
// --------------------------------------------------
// Bonus
.bonus
	position: relative
	background: #ffb43e
	padding: 30px 190px 30px 25px
	+border-radius(10px)
	overflow: hidden
	min-height: 183px
	+box-shadow(0 0 10px rgba(#000,.3))
	margin-top: 30px
	&:before
		position: absolute
		right: 64px
		bottom: -35px
		width: 112px
		height: 208px
		background: url(../img/person_sm.png) no-repeat
		content: ""
	.h2
		margin-bottom: 20px
	p
		margin-bottom: 0
		strong
			display: block

// Gifts
// --------------------------------------------------
.gifts
	.gifts__i
		position: relative
		padding: 30px 40px 30px 130px
		+box-shadow(0 0 10px rgba(#000,.3))
		+border-radius(10px)
		min-height: 105px
		&:before
			position: absolute
			top: 50%
			content: ""
		&._1
			&:before
				+s(gift_1)
				left: 25px
				margin-top: -30px
		&._2
			&:before
				+s(gift_2)
				left: 32px
				margin-top: -28px
		p
			margin-bottom: 0

